extends ./layout/index

block contenido
    //- p #{textoViajes}    // Ésto es un párrafo que muestra el contenido de la variable "textoViajes" enviada por el route //
    //- img(src="img/cupon.jpg")

    p Nosotros